<!DOCTYPE html>
<html>

<head>
  <meta charset="utf8" />
  <title>{{title}}</title>
  <!-- needed for adaptive design -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{templateOptions.basePath}}/favicon-32x32.png?v=1" rel="icon" sizes="32x32" type="image/png">
  <link href="{{templateOptions.basePath}}/favicon-16x16.png?v=1" rel="icon" sizes="16x16" type="image/png">
  {{{redocHead}}}
  <link rel="stylesheet" href="{{templateOptions.basePath}}/main.css">
  {{#unless disableGoogleFont}}
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="anonymous">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,500,600:latin,cyrillic&display=swap" as="style">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,500,600:latin,cyrillic&display=swap" rel="stylesheet">
  {{/unless}}
</head>

<body>
  {{{redocHTML}}}
</body>

</html>
